@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
#logorc{
    width: 50px;
}
.slider {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
   width: auto;
   margin-left: 22px;
   color: #ffff;
   margin-top: 3px;
   margin-bottom: 3px;
   font-family: 'Crimson Text', serif;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300%);
    }
  }
.logorcNav{
    width: 140px;
    height: 55px;
}
.boton{
    display: flex;
}

.botonBuscar{
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
 padding: 10px 20px;
 border-radius: 5px;
 transition: all .3s ease;
}

.botonBuscar:hover{
    background-color: hotpink;
    color: rgb(255, 255, 255);
    box-shadow: 
    0 0 5px hotpink,
    0 0 20px hotpink,
    0 0 60px hotpink,
    0 0 150px hotpink;
    border-color: aliceblue;
}
.lineaNav{
    border: 6px solid hotpink;
}
.linksNav:hover{
    text-shadow: 0 0 10px rgb(241, 162, 202);
}
#imagenfondo{
    background-image: url(../img/bannerjoyeria.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 22em;
}

#imagenfondo2{
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 18em;
}
.tituloBanner{
    color: rgb(0, 0, 0);
    padding-top: 2em;
    font-family: 'Beau Rivage', cursive;
    font-size: 90px;
}
.tituloBanner3{
    color: rgb(0, 0, 0);
    padding-top: 1em;
    font-family: 'Beau Rivage', cursive;
    font-size: 70px;
}

#imagenLogo{
    width: 250px;
}

.parrafoNosotros{
    font-family: 'Noto Serif JP', serif;
}

.imgCarrusel{
    object-fit: cover;
    height: 370px;
}

#videosNosotros{
    width: 300px;
    height: 400px;
}

.textoInfoNosotros{
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 18px;
}

.textoFraseNosotros{
    font-family: 'Playfair Display', serif;
}

.tituloNosotros{
    font-family: 'Crimson Text', serif;
    font-size: 25px;
}

.tituloBanner2{
font-family: 'Beau Rivage', cursive;
}
.lineaFooter:hover {
    text-decoration-line: underline;
    text-decoration-color: hotpink;
  }
  .titulosFooter{
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 28px;
  }
  .textosFooter{
    font-family: 'EB Garamond', serif;
    font-size: 18px;
  }
  .iconsFooter{
    color: hotpink;
  }