@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
#logorc{
    width: 50px;
}
.slider {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
   width: auto;
   margin-left: 22px;
   color: #ffff;
   margin-top: 3px;
   margin-bottom: 3px;
   font-family: 'Crimson Text', serif;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300%);
    }
  }
.logorcNav{
    width: 140px;
    height: 55px;
}
.boton{
    display: flex;
}
#botonBuscar{
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
 padding: 10px 20px;
 border-radius: 5px;
 transition: all .3s ease;
}

#botonBuscar:hover{
    background-color: hotpink;
    color: rgb(255, 255, 255);
    box-shadow: 
    0 0 5px hotpink,
    0 0 20px hotpink,
    0 0 60px hotpink,
    0 0 150px hotpink;
    border-color: aliceblue;
}
.lineaNav{
    border: 6px solid hotpink;
}
.linksNav:hover{
    text-shadow: 0 0 10px rgb(241, 162, 202);
}
#imagenfondo{
    background-image: url(../img/bannerjoyeria.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 22em;
}

#imagenfondo2{
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 18em;
}
.tituloBanner{
    color: rgb(0, 0, 0);
    padding-top: 2em;
    font-family: 'Beau Rivage', cursive;
    font-size: 90px;
}
.tituloBanner3{
    color: rgb(0, 0, 0);
    padding-top: 1em;
    font-family: 'Beau Rivage', cursive;
    font-size: 70px;
}

#imagenLogo{
    width: 250px;
}

.parrafoNosotros{
    font-family: 'Noto Serif JP', serif;
}

.imgCarrusel{
    object-fit: cover;
    height: 370px;
}

#videosNosotros{
    width: 300px;
    height: 400px;
}

.textoInfoNosotros{
    font-family: 'EB Garamond', serif;
    color: black;
    font-size: 18px;
}

.textoFraseNosotros{
    font-family: 'Playfair Display', serif;
}

.tituloNosotros{
    font-family: 'Crimson Text', serif;
    font-size: 25px;
}

.tituloBanner2{
font-family: 'Beau Rivage', cursive;
}
.lineaFooter:hover {
    text-decoration-line: underline;
    text-decoration-color: hotpink;
  }
  .titulosFooter{
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 28px;
  }
  .textosFooter{
    font-family: 'EB Garamond', serif;
    font-size: 18px;
  }
  .iconsFooter{
    color: hotpink;
  }
  .logoFooter{
    width: 200px;
    height: 80px;
  }
  .imgCarruselindex{
    object-fit: cover;
    height: 510px;
  }
  .imgPresentacion{
    object-fit: cover;
    height: 330px;
  }
  #logoPresentacion{
    width: 190px;
  }
  .presentacionIndex{
    background-color: #FFC0D9;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: black;
    }
  .cardsPromociones{
    background-color: rgb(243, 242, 242);
    border-radius: 5px;
  }
  .cardsIcon{
    color: #f869a3;
  }
  .cardsTitulo{
    font-family: 'Crimson Text', serif;
    color: black;
    font-size: 30px;
    margin-bottom: 0px;
  }
  .cardsParrafo{
    font-size: 20px;
    margin-top: 0px;
    font-family: 'Crimson Text', serif;
  }
  .tituloProductos1{
    font-family: 'Beau Rivage', cursive;
    font-size: 45px;
    color: black;
  }
  .textNuevo{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
  }
  .cardsTituloProductos{
    font-family: 'Crimson Text', serif;
    color: black;
    font-size: 24px;
  }
  .textCardProducto{
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    color: rgb(61, 61, 61);
  }
  .botonCarrito{
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 8px 20px;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    border-radius: 1px;
    transition: all .3s ease;
  }
  .botonCarrito:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
    border-color: aliceblue;
}
.precioProducto{
  font-family: 'Crimson Text', serif;
  font-size: 29px;
}
.videoIndex{
  width: 350px;
}
.presentacionIndex2 {
  background-color: #f3f1f1;
}
.instaIndex{
  color: black;
  font-family: 'Playfair Display', serif;
  text-decoration-color: black;
}
.instaFotos{
  width: 150px;
  height: 150px;
}
.textcoleccion{
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  margin-bottom: 0px;
}
.cardsTituloProductos2{
  font-size: 18px;
}
.precioProducto2{
  font-size: 27px;
  font-family: 'Crimson Text', serif;
}
.botonCarrito2{
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 6px 20px;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  border-radius: 1px;
  transition: all .3s ease;
}
.botonCarrito2:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Playfair Display', serif;
  border-color: aliceblue;
}
.bodylogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;
  background-image: url(../img/loginimg.jpeg);
}
.container-form {
  display: flex; /*para posicionar una columna al lado de la otra*/
  border-radius: 20px;
  box-shadow: 0 5px 7px rgb(255, 255, 255);
  height: 500px;
  max-width: 900px;
  transition: all 1s ease; /*para q el formulario aparezca con una transicion, entra desde arriba*/
  margin: 10px;
}

.information{
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: hotpink;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; /*redondea las esquinas*/
}

.info-childs {
  width: 100%;
  padding: 0 30px;
  font-family: 'Montserrat', sans-serif;
}

.info-childs h2 {
  font-size: 2.5rem;
  color: black;
  font-weight: bolder;
}

.info-childs p {
  margin: 15px 0;
  color: black;
}

.info-childs input {
 background-color: transparent; 
 outline: none;
 border: solid 2px #255;
 border-radius: 20px;
 padding: 10px 20px;
 color: #255;
 cursor: pointer; /*para que aparezca la manito*/
 transition: background-color .3s ease;
}

.info-childs input:hover {
  background-color: #255;
  border: none;
  color: #fff;
  box-shadow: 0 2px 5px rgb(255, 255, 255);
}

.form-information{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: #f8f8f8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; /*redondea las esquinas*/
}

.form-information-childs {
  padding: 0 30px;
}

.form-information-childs h2 {
  font-size: 2rem;
  font-weight: bold;
}

.loginicons {
  margin: 15px 0;
}

.loginicons i {
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  color: #255;
  border: solid thin #255;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 7px rgb(255, 255, 255);
}

.loginicons i:hover {
  background-color: #255;
  color: #fff;
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 5px 7px rgb(255, 255, 255);
}

.form label input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
}

.form label i {
  color: #255;
}

.form input[type="submit"] {
  background-color: #255;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 5px 7px rgb(255, 255, 255);
}

.form input[type="submit"]:hover {
  background-color: #255;
}

.hide {
  position: absolute; /*el formulario se encuentra detras del contenedor*/
  transform: translateY(-300%);
}
.relojmujer{
  width: 90px;
  height: 260px;
  object-fit: cover;
}

  @media screen and (max-width: 1025px){
    .footerColumnas{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #carruselindex{
        display: none;
    }
    #carruselindex2 {
        display: block !important;
     }
    #carruselidex3{
      display: none;
    }
    .presentacionIndex{
        flex-direction: column;
        margin-bottom: 15px;
    }
    .imgPresentacion{
        width: 100vh;
    }
    .presentacion{
        width: auto;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .cardsPromociones{
        width: auto;
        margin-bottom: 8px;
    }
  .cardsPD{
    display: flex;
    flex-direction: column;
  }
  .cards{
    margin-bottom: 8px;
  }
  .presentacionIndex2{
    display: flex;
    flex-direction: column;
  }
  .instagram{
    display: none;
  }
  .cardproducto{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }
  .cardsproducto{
    margin-bottom: 10px;
  }
  .register {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .information{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .form-information{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 40px;
  }
  .videoIndexsm{
    display: flex;
    justify-content: center;
  }
    }
    @media only screen and (max-width: 1500px) and (min-width: 901px) {
        #carruselindex2 {
            display: none !important;
         }
       }